body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-img {
  height: auto;
  width: auto;
}

.card-btn__wrapper {
  display: flex;
  justify-content: space-between;
}

.save-btn {
  background-color: white;
  color: rgb(160, 19, 19);
  border: none;
  border-radius: 100%;
  padding: 10px;
}